.customers{
    padding: 70px 0px;
    display: block;
}


.customers .row {
    box-shadow: 0px 0px 50px 9px rgb(214 210 210 / 32%);
    border-radius: 8px;
    position: relative;
    padding: 50px 15px 30px;
    background-color: #fff;
    justify-content: center;
    display: block;
}


.customers .row:before {
    content: '';
    position: absolute;
    background-color: #f8c145;
    display: block;
    width: 400px;
    height: 600px;
    left: -150px;
    bottom: -50px;
    z-index: -1;
    border-radius: 0px 0px 180px 0px;
}

.customers .row:after {
    content: '';
    position: absolute;
    background-color: #462DE3;
    display: block;
    width: 000px;
    height: 600px;
    right: -150px;
    z-index: -1;
    overflow: hidden;
    top: -70px;
    border-radius: 180px 0px 0px 0px;
} 


.customers ul {
    padding: 0px;
    margin: 20px 0px 0px;
}

.customers ul li {
    display: block;
    width: calc(20% - 14px);
    margin: auto;
}
.customers ul li img {
    filter: grayscale(1);
    height: auto;
}

@media screen and (max-width:991px) {

    .customers{
        padding: 35px 15px;
    }
    .customers .row {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 40px 15px 40px;
    }

    .customers ul li {
        width: calc(33.33% - 20px);
    }

    .customers ul li img {
        width: 100%;
    }
}