html, body{
	scroll-behavior:smooth;
	overflow-x:hidden;
}
a, button{
	    text-decoration: none !important;
    outline: none !important;
}
.ekaksharBanner{
    padding: 60px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    margin-top: 0px;
/*     background-color: #d9e7f6; */
}
/* .ekaksharBanner:before{
	    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.4;
} */
.ekaksharBanner img{
    border-radius: 1px 120px 50px 180px;
    margin: auto;
    float: right;
	width: 100%;
}
.ekaksharBanner h1{
    margin: 0px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 0.98;
    color: #333;
}
.ekaksharBanner .container{
	position:relative;
}
.heightFull{
	height:100%;
}
.flexBoxEk{
	    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flexBoxEk:before, .flexBoxEk:after{
	content:'';
	display:block;
}
.ekaksharBanner h2{
    margin: 0px;
    padding: 20px 0px 35px;
    color: #333;
    font-size: 24px;
    letter-spacing: 0.4px;
    font-weight: 400;
}
.desEkaksharSec1 h2{
	font-size: 26px;
    margin: 0px;
    padding: 5px 0px 15px;
    line-height: normal;
    letter-spacing: 0.03px;
    color: #000;
}
.ekaksharBanner a, .ekOurServices a{
    background-color: #f8c145;
    color: #333;
    border: 1px solid #f8c145;
    border-radius: 30px;
    padding: 15px 30px;
    display: inline-block;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 400;
    transition: 0.3s;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.12);
}
.ekOurServices a{
	    margin-top: 25px;
}
.ekaksharBanner a:hover, .ekOurServices a:hover{
	    background-color: transparent;
        border: 1px solid #333;
}
.headerEkakshar{
	    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    background-color: transparent;
    padding: 10px 0px;
    margin: auto;
	transition:0.3s;
	    
}
section.headerEkakshar.fixeHeadEk{
	background-color: #fff;
/* 	box-shadow: 0 0 95px 0 rgba(0, 0, 0, 0.06); */
	    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}
.headerEkakshar .brandName{
	    width: 80px;
}
.headerEkakshar .brandName a{
	display: block;
}
.headerEkakshar .brandName img{
	    width: 70px;
}
.headerEkakshar .ctasAndPages{
	    width: calc(100% - 80px);
    text-align: right;
}
.page-id-225 .headerEkakshar .ctasAndPages a{
    color:#fff;
}
 .headerEkakshar .ctasAndPages a{
    color:#333;
    letter-spacing: 0.2px;
    font-size: 18px;
    font-weight: 500;
    padding: 0px;
    display: inline-block;
    margin: 0px 0px 0px 15px;
    transition: 0.4s;
    position: relative;
}
.page-id-225 .headerEkakshar.fixeHeadEk .ctasAndPages a{
    
    color: #333;
}
.headerEkakshar .ctasAndPages a:before{
	    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #f8c145;
    left: 0px;
    right: 0px;
    bottom: -2px;
    transition: 0.4s;
	    margin: auto;
}
.headerEkakshar .ctasAndPages a:hover:before{
	width: 100%;
}
.headingEkakshar{
	margin: 0px;
    color: #333;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: normal;
    position:relative;
    padding: 0px 0px 12px;
}
.headingEkakshar:before{
    content: '';
    background-color: #f8c145;
    width: 56px;
    height: 6px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 0px;
    border-radius: 12px;
.whatisEk}
{
	
}
.whatisEk h2{
    color: #fff;
}
.whatisEk p{
	    margin: 0px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.4;
    font-weight: 400;
    padding: 15px 15px 0px;
}
.whatisEk .boxAbout{
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.12);
    background-color: #462DE3;
    position: relative;
    width: calc(100% - 150px);
    margin: auto;
}
.whatisEk .boxAbout:before{
    background-image: url(https://ekakshar.co.in/wp-content/uploads/2020/06/shape.svg);
    content: '';
    width: 139px;
    height: 138px;
    position: absolute;
    left: -50px;
    top: -45px;
    z-index: -1;
    background-repeat: no-repeat;
}
.whatisEk .boxAbout:after{
    background-image:url('https://ekakshar.co.in/wp-content/uploads/2020/06/shape.svg');
    content:'';
    width: 139px;
    height: 138px;
    position: absolute;
    right: -50px;
    bottom: -45px;
    z-index: -1;
    background-repeat: no-repeat;
}
.spaceTB-70{
	    padding: 70px 0px;
}
.ekOurServices{
    padding: 150px 0px 70px;
    background-image: linear-gradient(90deg, #3330, #2d6de35c);
    margin-bottom: 60px;
}
.ekOurServices p{
	    margin: 0px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #333;
	line-height:normal;
}
.ekOurServices span{
	    display: block;
    line-height: 1.4;
    font-size: 18px;
    letter-spacing: 0.3px;
    color: #333;
    opacity: 0.8;
    font-weight: 400;
    padding: 10px 0px 0px;
}
.ekOurServices ul{
	    margin: 0px;
    padding: 0px;
}
.ekOurServices ul li{
    display: block;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 15px;
    margin: 5px 10px;
    color: #333;
    letter-spacing: 0.3px;
    font-size: 16px;
	    position: relative;
	width:100%;
}
.ekOurServices ul li:before{
	    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0px;
    background-color:#462DE3;
    top: 0px;
    bottom: 0px;
    border-radius: 4px;
}
.ekOurServices .row{
	    padding: 40px 0px;
}
.ekOurServices img{
	     width: 75px;
    margin-bottom: 10px;
}
.ekOurServices h2{
	    text-align: center;
	    padding-bottom: 30px;
}
.whyEkaksharChoose{
	
}
.whyEkaksharChoose strong{
	    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.4px;
    display: block;
    line-height: normal;
    padding: 5px 0px 0px;
    color: #333;
}
.whyEkaksharChoose h3{
	    margin: 0px;
    color: #333;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.3px;
    display: block;
    line-height: normal;
    padding: 10px 0px 40px;
}
.whyEkaksharChoose ul{
	padding: 0px;
    margin: 0px;
	    justify-content: center;
}
.whyEkaksharChoose li{
	display: block;
    border: 1px solid #eee;
    padding: 20px;
        margin: 25px 10px;
    border-radius: 8px;
    background-color: #fafafa;
    position: relative;
	    width: calc(50% - 20px);
}
.whyEkaksharChoose li span{
	    position: absolute;
    top: -43px;
    font-size: 40px;
    font-weight: 600;
    color: #f8c145;
	    left: 0px;
    right: 0px;
}
.whyEkaksharChoose li p{
	    font-size: 18px;
    letter-spacing: 0.3px;
    margin: 0px;
    line-height: normal;
    color: #333;
}
.talkToExperts{
        padding: 30px 0px 0px;
        position:relative;
}
.talkToExperts:after{
    content: '';
    background-image: url(https://ekakshar.co.in/wp-content/uploads/2020/06/shape2.svg);
    width: 70px;
    height: 138px;
    left: 0px;
    position: absolute;
    top: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.talkToExperts:before{
    content: '';
    background-image: url(https://ekakshar.co.in/wp-content/uploads/2020/06/shape3.svg);
    width: 75px;
    height: 138px;
    position: absolute;
    right: 0px;
    bottom: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.talkToExperts .row{
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.06);
    padding: 45px;
    border-radius: 20px 20px 0px 0px;
    background-color: #f2f2f2;
}
.talkToExperts h2{
	    margin-bottom: 30px;
}
.talkToExperts form{
	
}
.talkToExperts input{
	    width: 100% !important;
    margin: auto !important;
    color: #333 !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    height: 45px !important;
}
.talkToExperts button{
    background-color: #f9ba2b !important;
    color: #333 !important;
    border: 1px solid #f9ba2b !important;
    padding: 14px 75px !important;
    font-size: 20px !important;
    letter-spacing: 0.4px !important;
    border-radius: 30px !important;
    transition: 0.4s !important;
}
.talkToExperts button:hover{
    color: #fff !important;
    background-color: #333 !important;
    border: 1px solid #333 !important;
}
.footerEkakshar{
	    padding: 30px 0px 0px;
    border-top: 1px solid #ddd;
}
.footerEkakshar .row{
	    align-items: flex-start;
}
.footerEkakshar span{
	    color: #333;
    font-size: 18px;
    display: block;
    letter-spacing: 0.3px;
    font-weight: 500;
	    padding: 0px 0px 10px;
}
.footerEkakshar h6{
	    text-align: center;
    border-top: 1px solid #ddd;
    padding: 15px 0px;
    font-size: 14px;
    color: #333;
    letter-spacing: 0.3px;
    opacity: 0.8;
    font-weight: 400;
    margin: 0px;
}
.footerEkakshar .footerImage{
	width: 30%;
}
.footerEkakshar .footerImage a{
	        display: block;
}
.footerEkakshar .footerImage a img{
	    width: 90px;
	    margin-bottom: 15px;
}
.footerEkakshar .footerImag strong{
	display: block;
}
.footerEkakshar .footerImage a.followEk{
	    display: inline-block;
    margin: 0px 3px 20px;
}
.footerEkakshar .footerImage a.followEk img{
	     width: 23px;
    margin: 0px;
    border-radius: 50%;
}
.footerEkakshar .contactAnOther{
	    width: 35%;
}
.footerEkakshar .contactAnOther p{
	    font-size: 14px;
    letter-spacing: 0.3px;
    color: #333;
    display: block;
    margin: 0px;
    padding: 0px 0px 10px;
}
.footerEkakshar .contactAnOther p a{
	    color: #f8c145;
    font-weight: 500;
	transition:0.3s;
}
.footerEkakshar .contactAnOther p a:hover{
	color: #d8b154;
}
.ekOurServices b{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding: 20px;
    display: block;
    color: #333;
    opacity: 0.8;
    line-height: 1.4;
}
.ekaksharClients{
	/* border-top: 1px solid #ddd; */
}
.ekaksharClients ul{
	    padding: 0px;
       margin: 20px 0px 0px;
}
.ekaksharClients ul li{
	    display: block;
    width: calc(20% - 14px);
    margin: auto;
}
.ekaksharClients ul li img{
    filter: grayscale(1);
}
.ekaksharClients .row{
    box-shadow: 0px 0px 50px 9px rgba(214, 210, 210, 0.32);
    border-radius: 8px;
    position: relative;
    width: calc(100% + 60px);
    padding: 50px 15px 30px;
    background-color: #fff;
    margin-left: -30px;
}
.ekaksharClients .row:before{
    content:'';
    position: absolute;
    background-color: #f8c145;
    display: block;
    width: 400px;
    height: 600px;
    left: -150px;
    bottom: -50px;
    z-index: -1;
    border-radius: 0px 0px 180px 0px;
}
.ekaksharClients .row:after{
content:'';
position: absolute;
background-color: #462DE3;
display: block;
width: 400px;
height: 600px;
right: -150px;
z-index: -1;
top: -70px;
border-radius: 180px 0px 0px 0px;
}



/* New Home page css */
.colorPurple{
    color: #462DE3;
}
.ctaEkakshar{
    background-color: #f8c145;
    color: #333;
    border: 1px solid #f8c145;
    border-radius: 30px;
    padding: 15px 30px;
    display: inline-block;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 400;
    transition: 0.3s;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.12);
}
.ctaEkakshar:hover{
    background-color: transparent;
    border: 1px solid #333;
}
.desEkaksharSec1 .container{
    position:relative;
}
.desEkaksharSec1 img{
      position: absolute;
        right: 55px;
    bottom: 32px;
}
.desEkaksharSec1{
    position: relative;
    /* padding: 120px 0px 0px; */
    height: 818px;
}
.desEkaksharSec1 h1{
    font-size: 60px;
    font-weight: 700;

}
.desEkaksharSec1 p{
    font-size: 20px;
    color: #000;
    letter-spacing: 0.3px;
    line-height: normal;
    padding: 5px 0px 20px;
}

.desEkaksharSec1:before{
    content: '';
    background-color: #462DE3;
    position: absolute;
    width: 50%;
    height: 96%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -9;
	
}
.desEkaksharSec1:after{
    content: '';
    background-image: url(https://ekakshar.co.in/wp-content/uploads/2020/06/background-ekakshar.png);
    width: 786px;
    height: 818px;
    background-size: cover;
    position: absolute;
    top: 0px;
    background-repeat: no-repeat;
    right: 0px;
    z-index: -1;
    background-position: top;
}
.whyEkDes{

}
.whyEkDes h2{

}
.whyEkDes h3{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.1px;
    padding-bottom: 30px;
    color: #000;
}
.whyEkDes h3 b{

}
.whyEkDes .boyImageEk{
    position: relative;
}
.whyEkDes .boyImageEk:before{
    content: '';
    position: absolute;
    background-color: #f8c145;
    width: 200%;
    height: 100%;
    left: -104%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index:-1;
    border-radius: 25px;
}
.whyEkDes .boyImageEk img{

}
.whyEkDes ul{
    padding: 0px;
    margin: 0px;
}
.whyEkDes ul li{
    position: relative;
    display: block;
    width: 100%;
    padding: 0px 25px 30px;
}
.whyEkDes ul li p{
    margin: 0px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: normal;
}
.whyEkDes ul li:before{
    content: '';
    background-color: #462DE3;
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: 0px;
    top: 5px;
}
.whyEkDes ul li:after{
    content: '';
    height: 100%;
    width: 1px;
    border-left: 1px dashed #462DE3;
    position: absolute;
    left: 6px;
    top: 10px;
    }
    .whyEkDes ul li:nth-last-child(1):after{
        display:none;
    }
    .toggleMobEkaHead{
        display:none;
    }
    .toggleMobEkaHead i{
        width: 30px;
        height: 3px;
        background-color: #462DE3;
        display: block;
        margin: 5px 0px;
    }
#connectWithUs .close{
    font-size: 35px;
    position: absolute;
    right: 15px;
    top: 0px;
    font-weight: 400;
    color: #000;
    opacity: 1;
	z-index:9999;
}
#connectWithUs .close:hover{
    background-color: transparent;
    opacity: 0.6;
}
#connectWithUs #connectwithEkakshar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
}
#connectWithUs h3{
    font-size: 28px;
    text-align: center;
    padding: 20px 0px 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: normal;
    margin: 0px 0px 15px;
    color: #000;
    position: relative;
}
#connectWithUs h3:before{
	    content: '';
    background-color: #f8c145;
    width: 56px;
    height: 6px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 0px;
    border-radius: 12px;
}
#connectWithUs .formBox{
    position: relative;
    padding: 20px;
    background-color: #462de31c;
    width: calc(100% - 30px);
    margin: 15px;
    border-radius: 8px;
}
#connectWithUs .formBox:after{
    content:'';
    background-image:url('https://ekakshar.co.in/wp-content/uploads/2020/06/shape.svg');
    width: 80px;
    height: 80px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    right: -20px;
    bottom: -20px;
}
#connectWithUs .formBox:before{
    content: '';
    background-image: url(https://ekakshar.co.in/wp-content/uploads/2020/06/shape.svg);
    width: 80px;
    height: 80px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: -20px;
    left: -20px;
}
#connectWithUs .form-group.inputfifty{
    width: calc(50% - 14px);
    margin: 7px;
}
#connectWithUs .form-group input.onlyinput, #connectWithUs .form-group textarea{
    border: 1px solid #ddd;
    outline: none !important;
    font-size: 15px;
    letter-spacing: 0.4px;
    color: #333;
    padding: 0px 15px;
    height: 45px;
    box-shadow: none !important;
    font-weight: 400;
    background: #fff !important;
}
#connectWithUs .form-group textarea{
	    height: 85px;
    padding: 8px 15px;
}
#connectWithUs .form-group input#submitForm-pop{
    padding: 14px 60px;
    margin: 15px 0px 0px;
}
#connectWithUs .form-group input#submitForm-pop:hover, #connectWithUs .form-group input#submitForm-pop:focus{
    outline: none !important;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}
#connectWithUs .form-group{
    width: calc(100% - 14px);
    margin: 7px;
    text-align: center;
}
.connectWithTeamEk{
	cursor:pointer;
}
.headerbtnCTA{
	    background-color: #f8c145;
    border: 1px solid #f8c145;
    padding: 10px 25px !important;
    border-radius: 30px;
	    color: #000 !important;
    font-size: 16px !important;
}
.headerbtnCTA:before{
	display:none;
}
.headerbtnCTA:hover{
	    background-color: transparent;
    border: 1px solid #000;
}
.blogSecEka{
    padding: 40px 0px;
}
.blogSecEka .bredcrumbsEkakshar{
    border-bottom: 1px solid #dfe3e8;
}
.blogSecEka .bredcrumbsEkakshar p{
    color: #637381;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: normal;
    font-weight: 400;
    padding: 0px 0px 5px;
    opacity:0.8;
}
.blogSecEka .bredcrumbsEkakshar p a{
    display: inline-block;
    color: #637381;
    text-decoration: underline !important;
}
.blogSecEka .bredcrumbsEkakshar p b{
    display: inline-block;
    padding: 0px 15px;
}
h2.headingEkBlog{
    color: #222;
    font-size: 40px;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 15px 0px;
}
.blogSecEka .sectionSec{
    padding: 10px 0px 25px;
}
.blogSecEka .sectionSec .authorAndDate{
    width: 50%;
}
.blogSecEka .sectionSec .authorAndDate span{
    color: #462DE3;
    letter-spacing: 0.3px;
    font-size: 15px;
    font-weight: 400;
}
.blogSecEka .sectionSec .authorAndDate i{
    position: relative;
    font-style: normal;
    color: #462DE3;
    letter-spacing: 0.3px;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 0px 5px;
}
.blogSecEka .sectionSec .authorAndDate i:before, .blogSecEka .sectionSec .authorAndDate a:before, .blogSecEka .sectionSec .authorAndDate strong:before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #dfe3e8;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
}
.blogSecEka .sectionSec .authorAndDate h6{
    margin: 0px 0px 5px;
}
.blogSecEka .sectionSec .authorAndDate strong{
    position: relative;
    font-weight: 400;
    color: #222;
    opacity: 0.7;
    letter-spacing: 0.2px;
    font-size: 14px;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 0px 10px;
}
.blogSecEka .sectionSec .authorAndDate a{
    position: relative;
    display: inline-block;
    color: #462DE3;
    letter-spacing: 0.3px;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 0px 10px;
    font-size: 14px;
}
.blogSecEka .sectionSec .authorAndDate a:hover{

}
.blogSecEka .sectionSec .authorAndDate b{
    display: inline-block;
    font-weight: 400;
    color: #222;
    opacity: 0.7;
    letter-spacing: 0.2px;
    font-size: 14px;
}
.blogSecEka .sectionSec .shareOnEkakshar{
    width: 50%;
    text-align: right;
}
.blogSecEka .sectionSec .shareOnEkakshar a{
    display: inline-block;
    padding: 0px 4px;

}
.blogSecEka .sectionSec .shareOnEkakshar a img{
    width: 25px;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}
.blogSecEka .blogboxEkakshar img{
    width: 100%;
    max-width: 100%;
}
.blogSecEka .contentBoxSet{
    padding: 25px 0px 50px;
}
.blogSecEka .contentBoxSet p, .blogSecEka .contentBoxSet span{
    display: block;
    line-height: 1.5;
    color: #222;
    font-size: 18px;
    letter-spacing: 0.2px;
    font-weight: 400;
    opacity: 0.9;
    padding: 10px 0px;
}
.blogSecEka .contentBoxSet ul, .blogSecEka .contentBoxSet ol{
    margin: 0px;
    padding: 0px 0px 0px 20px;
}
.blogSecEka .contentBoxSet ul li, .blogSecEka .contentBoxSet ol li{
    display: block;
    line-height: 1.5;
    color: #222;
    font-size: 18px;
    letter-spacing: 0.2px;
    font-weight: 400;
    opacity: 0.9;
    position:relative;
    padding: 3px 0px;
}
.blogSecEka .contentBoxSet ul li:before, .blogSecEka .contentBoxSet ol li:before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: #462DE3;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 13px;
}
.blogSecEka .contentBoxSet h3, .blogSecEka .contentBoxSet h4{
    margin: 0px;
    padding: 25px 0px 15px;
    color: #222;
    letter-spacing: 0.3px;
    font-weight: 600;
}
.blogSecEka .contentBoxSet h5, .blogSecEka .contentBoxSet h6{
    margin: 0px;
    font-size: 22px;
    letter-spacing: 0.2px;
    color: #222;
    font-weight: 500;
    padding: 15px 0px 10px;
}
.blogSecEka .contentBoxSet i{
color:#222;
display:block;
font-size:18px;
font-weight:400;
letter-spacing:0.2px;
}
.blogSecEka .shareOnSocial{
    padding: 25px 0px;
    border-top: 1px solid #dfe3e8;
    border-bottom: 1px solid #dfe3e8;
}
.blogSecEka .shareOnSocial a{
    display: inline-block;
    padding: 0px 4px;
}
.blogSecEka .shareOnSocial a img{
    width: 25px;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}
.resourcesEkakshar{
    padding: 0px 10px;
}
.resourcesEkakshar ul{
    padding: 0px;
    margin: 0px;
}
.resourcesEkakshar ul li{
    display: block;
}
.resourcesEkakshar ul li a{
    color: #462DE3;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid #dfe3e8;
    padding: 0px 0px 20px;
}
.resourcesEkakshar ul li a:hover{
    text-decoration: underline !important;
}
.popularEkakshar{
    padding: 0px 10px;
}
.popularEkakshar ul{
    padding: 0px;
    margin: 0px;
}
.popularEkakshar ul li{
    display: block;
}
.popularEkakshar ul li a{
    color: rgb(33, 43, 53);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid #dfe3e8;
    padding: 0px 0px 20px;
}
.popularEkakshar ul li a:hover{
    text-decoration: underline !important;
}
.popularEkakshar h2, .resourcesEkakshar h2{
    margin: 0px;
    padding: 0px 0px 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #222;
    opacity: 0.8;
}
.popularEkakshar h2 img, .resourcesEkakshar h2 img{
    width: 20px;
    margin-right: 5px;
}
.blogSecEka u{

}
.bannerEkakshar{
    padding: 140px 0px 70px;
    position: relative;
    background-image: url(https://ekakshar.co.in/wp-content/uploads/2020/06/blog-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.bannerEkakshar h1{
    margin: 0px;
    color: #fff;
    position: relative;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 40px;
    line-height: normal;
    padding: 0px 15px;
}
.bannerEkakshar:before{
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 0px;
}
.single-post .headerEkakshar{
    background-color:#fff;
	    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}
div.sharedaddy{
    display:none !important;
}
.subscribeToNewsletter{
    background-color: #140866;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    border: 0px !important;
    padding: 45px 20px 30px;
    text-align: center;
    margin: 35px 0px 20px;
}
.subscribeToNewsletter img{
    width: 50px;
}
.subscribeToNewsletter h3{
    color: #fff;
    letter-spacing: 0.4px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 10px 0px 25px;
    font-size: 24px;
}
.subscribeToNewsletter form{
    max-width: 500px;
    margin: auto;
}
.subscribeToNewsletter form input.form-control{
    color: #333;
    border: 1px solid #fff;
    background: #fff !important;
    outline: none !important;
    letter-spacing: 0.3px;
    padding: 0px 15px;
    font-size: 16px;
    height: 50px;
    font-weight: 400;
    border-radius: 2px;
}
.subscribeToNewsletter p{
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0px 15px;
    margin: 0px;
}
.subscribeToNewsletter #subscribeBtn{
    font-size: 18px;
    padding: 14px 40px;
}
.subscribeToNewsletter #subscribeBtn:hover, .subscribeToNewsletter #subscribeBtn:focus{
    border: 1px solid #fff;
    background:transparent !important;
}
.contentBoxSet a{
    color: #462DE3;
}
.commentEkakshar{
    margin: 40px 0px 0px;
    display: block;
}
.commentEkakshar .policyComment{
    color: #222;
    background-color: #ececec;
    font-size: 16px;
    padding: 20px;
}
.commentEkakshar .policyComment h4{
    margin: 0px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0px;
}
.commentEkakshar .policyComment p{
    font-size: 15px;
    letter-spacing: 0.3px;
    padding: 5px 0px 0px;
    margin: 0px;
}
.commentEkakshar  #comments{

}
.commentEkakshar  #comments h2{

    margin: 0px;
    padding: 20px 0px 0px;
    color: #222;
    letter-spacing: 0px;
    font-size: 26px;

}
.commentEkakshar  #comments p.comment-notes{
    font-size: 16px;
    letter-spacing: 0.3px;
    display: block;
    padding: 5px 0px 10px;
}
span.required{
    color: red;
}
.commentEkakshar  #comments textarea{
    border: 1px solid #ddd;
    height: 95px;
    padding: 15px;
    color: #222;
    letter-spacing: 0.5px;
}
.commentEkakshar  #comments input{
    border: 1px solid #ddd;
    height: 43px;
    padding: 0px 15px;
    color: #333;
    letter-spacing: 0.4px;
}
.commentEkakshar  #comments p.comment-subscription-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0px;
}
.commentEkakshar  #comments p.comment-subscription-form input{
    height: auto;
}
.commentEkakshar  #comments p.comment-subscription-form label{
    margin: 4px 10px 0px;
    letter-spacing: 0.2px;
    color: #222;
    font-weight: 500;
}
.commentEkakshar  #comments p.form-submit{
    margin: 30px 0px 0px;
}
.commentEkakshar  #comments p.form-submit input{
    background-color: #f8c145;
    border: 1px solid #f8c145;
    color: #222;
    padding: 14px 30px;
    font-size: 16px;
    letter-spacing: 0.3px;
    font-weight: 500;
    height: auto;
    transition: 0.3s;
    outline: none !important;
}
.commentEkakshar  #comments p.form-submit input:hover, .commentEkakshar  #comments p.form-submit input:focus{
    background-color: #222;
    color: #ffff;
    border: 1px solid #222;
}
.subscribeSideBar{
    background-color: #140866;
    border-radius: 0px;
    padding: 40px 25px;
    text-align: center;
    color: #fff;
    margin: 0px 0px 25px;
}
.subscribeSideBar img{
    width: 40px;  
}
.subscribeSideBar h3{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: normal;
    margin: 0px;
    padding: 10px 0px 0px;
}
.subscribeSideBar p{
    letter-spacing: 0.6px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 10px 0px 0px;
    font-size: 15px;
}
.subscribeSideBar span{
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 15px 0px;
}
.subscribeSideBar form{

}
.subscribeSideBar .form-group{

}
.subscribeSideBar input.form-control{
    width: 100%;
    border: 1px solid #fff;
    height: 50px;
    letter-spacing: 0.5px;
    color: #222;
    padding: 0px 15px;
    border-radius: 2px;
    outline: none !important;
    background: #fff !important;
}
.subscribeSideBar input#subscribeBtnSide{
    width: 100%;
    display: block;
    border-radius: 2px;
    height: 50px;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
}
.subscribeSideBar input#subscribeBtnSide:hover, .subscribeSideBar input#subscribeBtnSide:focus{
    border: 1px solid #fff;
}
.allBlogBanner{
    padding: 80px 0px 70px;
    background-image: url(https://ekakshar.co.in/wp-content/uploads/2020/06/bannerallBlogs-1.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
}
.allBlogBanner:before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.allBlogBanner .container{
    position:relative;
}
.allBlogBanner h1{
    color: #fff;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: normal;
    margin: 0px;
    text-shadow: 0px 0px 1px #f6f6f6;
}
.allBlogBanner h2{
    color: #f6f6f6;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: normal;
    margin: 0px;
    padding: 10px 0px 25px;
    text-shadow: 0px 0px 1px #f6f6f6;
}
.allBlogBanner p{
    color: #f6f6f6;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: normal;
    display: block;
    text-shadow: 0px 0px 1px #f6f6f6;
}
.allBlogBanner form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.allBlogBanner input.form-control{
    height: 54px;
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 15px;
    letter-spacing: 0.5px;
    color: #333;
    outline: none !important;
    border: 1px solid #fff;
    width: 300px;
}
.allBlogBanner #subscribeBtn{
    border-radius: 5px;
    margin: 0px 14px;
    font-size: 18px;
    padding: 15px 40px;
    font-weight: 500;
}
.allBlogBanner #subscribeBtn:hover, .allBlogBanner #subscribeBtn:focus{
    border: 1px solid #000;
    background-color: #000;
    outline:none !important;
}
.blogCatWise{
    padding: 0px 0px 40px;
}
ul.selBlogCat{
    margin: 0px 0px 30px;
    border: 0px;
    padding: 0px 0px 1px;
    border-bottom: 1px solid #ddd;
}
ul.selBlogCat li{
    
}
ul.selBlogCat li a{
    color: #637381 !important;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: normal;
    font-size: 15px;
    padding: 25px 15px;
    margin: 0px !important;
    border-radius: 0px !important;
    border: 0px !important;
    background-color: #fff;
}
.blogCatWise .col-xs-12{
    padding:0px;
}
ul.selBlogCat li a:hover{
color:#222 !important;
background-color: #fff;
}
ul.selBlogCat li.active a{
    color:#222 !important;
    background-color: #d5dbe0;
}
ul.selBlogCat li.active{
    
}
.blogCatWise .tab-content{

}
.blogCatWise .tab-content ul{
    padding: 0px;
    margin: 0px;
}
.blogCatWise .tab-content ul li{
    width: calc(50% - 30px);
    margin: 20px 30px 20px 0px;
    display: block;
}
.blogCatWise .tab-content #latestBlogs ul li:nth-child(1){
    width: calc(100% - 30px);
}
.blogCatWise .tab-content ul li a img{
    transition: transform 300ms;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 175px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.blogCatWise .tab-content #latestBlogs ul li:nth-child(1) a img{
height:auto;
}
.blogCatWise .tab-content ul li a:hover img{
    transform: scale(1.02);
}
.blogCatWise .tab-content ul li a{
    display: block;
    overflow: hidden;
    position: relative;
}
.blogCatWise .tab-content ul li h2{
    margin: 0px;
    padding: 0px 0px 15px;
}
.blogCatWise .tab-content #latestBlogs ul li:nth-child(1) h2 a{
    font-size: 36px;
}
.blogCatWise .tab-content ul li h2 a{
    color: #222;
    font-size: 20px;
    letter-spacing: 0.3px;
    font-weight: 500;
    margin: 0px;
}
.blogCatWise .tab-content ul li h2 a:hover{
    text-decoration: underline !important;

}
.blogCatWise .tab-content ul li .authorAndDate{
    font-size: 14px;
    color: #666;
    display: block;
}
.blogCatWise .tab-content ul li .authorAndDate span{
    color: #462DE3;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: normal;
    display: inline-block;
}
.blogCatWise .tab-content ul li .authorAndDate b{
    display: inline-block;
    font-weight: 400;
    padding: 0px 30px;
    position: relative;
}
.blogCatWise .tab-content ul li .authorAndDate b:before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #dfe3e8;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 13px;
}
.blogCatWise .tab-content ul li span.BlogTag{
    color: #462DE3;
    display: block;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 15px 0px;
    margin: 0px;
    font-size: 15px;
    line-height: normal;
}
.marginSelTop{
    margin-top:20px;
}
.page-id-261 .headerEkakshar{
    background-color: #fff;
    position: relative;
}
.categoryNameExp{
    width: calc(100% - 30px);
}
.categoryNameExp h4{
    border-bottom: 1px solid #ddd;
    margin: 20px 0px 30px;
    font-size: 36px;
    color: #222;
    letter-spacing: 0.3px;
    line-height: normal;
    padding: 0px 0px 20px;
}
.categoryNameExp p{
    font-size: 17px;
    color: #222;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 1.5;
}
	.searchbarEk{
		    padding: 0px 0px 25px;
	}
	.searchbarEk form input.searchText{
        height: 45px;
    outline: none !important;
    border-radius: 35px;
    padding: 0px 15px 0px 35px;
    letter-spacing: 0.4px;
    color: #222;
	}
	.searchbarEk form input#searchsubmit{
    background-image: url(https://ekakshar.co.in/wp-content/uploads/2020/06/search-ek.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    border: 0px !important;
    position: absolute;
    z-index: 999;
    transition: 0.4s;
    height: 45px;
    background-position-x: 10px;
    width: 35px;
    background-position: center;
	}
	.searchbarEk form input#searchsubmit:hover, .searchbarEk form input#searchsubmit:focus{
		filter:grayscale(100%);
    }
    .aboutUsBanner{
        text-align: center;
        padding: 130px 0px 10px;
    }
    .aboutUsBanner h1, .ouStory h2{
            margin: 0px;
    color: #333;
    font-size: 44px;
    letter-spacing: 0.2px;
    line-height: normal;
    font-weight: 600;
    opacity: 0.75;
    }
    .aboutUsBanner p{
        color: #222;
        font-size: 18px;
        letter-spacing: 0.3px;
        padding: 15px 0px 10px;
        opacity: 0.8;
        font-weight: 500;
    }
    .aboutUsBanner span{
        display: block;
        color: #333;
        opacity: 0.8;
        font-size: 16px;
        letter-spacing: 0.3px;
        padding: 0px 0px 5px;
        font-weight: 400;
    }
    .aboutUsBanner img{
        width: 100px;
        margin: 30px 0px 20px;
    }
    .ouStory{
        padding: 0px 0px 45px;
    }
    .ouStory h2{
        text-align: center;
        font-size: 30px;
    }
    .ouStory p{
        font-size: 16px;
        color: #222;
        margin: 0px;
        letter-spacing: 0.3px;
        opacity: 0.6;
        font-weight: 400;
        padding: 10px 0px;
    }
    .ouStory ul{
        margin: 0px 0px 20px;
        padding-left: 20px;
    }
    .ouStory ul li{
        font-size: 16px;
        color: #222;
        margin: 0px;
        letter-spacing: 0.3px;
        opacity: 0.6;
        font-weight: 600;
        padding: 5px 0px;
    }
    .meetTheTeam{
        background-color: #f8f8f8;
        padding: 60px 0px 80px;
    }
    .meetTheTeam h2{
           margin: 0px;
    color: #333;
    font-size: 30px;
    letter-spacing: 0.2px;
    line-height: normal;
    font-weight: 600;
    opacity: 0.75;
    text-align: center;
    }
    .meetTheTeam p{
        font-size: 16px;
        color: #222;
        margin: 0px;
        letter-spacing: 0.3px;
        opacity: 0.6;
        font-weight: 500;
        padding: 10px 0px;
        text-align: center;
    }
    .meetTheTeam ul{
        padding: 0px;
        width: calc(100% - 200px);
        margin: 30px auto 0px;
    }
    .meetTheTeam ul li{
        width: calc(50% - 20px);
        display: block;
        background-color: #fff;
        box-shadow: 0 0 95px 0 rgba(0, 0, 0, 0.06);
        padding: 30px;
        border-radius: 8px;
        margin: auto;
        text-align: center;
    }
    .meetTheTeam ul li img.starFace{
        display: block;
        border-radius: 50%;
        margin: auto;
        height: 150px;
        object-fit: cover;
        object-position: center;  
    }
    .meetTheTeam ul li strong{
        display: block;
        font-weight: 700;
        opacity: 0.65;
        color: #333;
        font-size: 22px;
        letter-spacing: 0.3px;
        padding: 15px 0px 10px;
    }
    .meetTheTeam ul li span{
        color: #222;
        display: block;
        font-size: 16px;
        opacity: 0.6;
        letter-spacing: 0.3px;
        padding: 0px 0px 15px;
    }
    .meetTheTeam ul li a{
        display: block;
        padding: 10px 0px;
        font-size: 16px;
        color: #462de394;
        letter-spacing: 0.3px;
        transition:0.4s;
    }
    .meetTheTeam ul li a:hover{
        filter:grayscale(100%);
    }
    .meetTheTeam ul li a.emailTeam img{
        width: 20px;
        margin-right: 5px;
    }
    .meetTheTeam ul li a.connectOnSocial img{
        width: 50px;
        border-radius: 50%;
    }
    .lastCTAButton{
        padding: 60px 0px;
            background-color: #171866;
    }
.page-id-278 .headerEkakshar, .page-id-210 .headerEkakshar{
	       box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	background-color:#fff;
}
    .lastCTAButton h2{
        margin: 0px;
        font-size: 36px;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .lastCTAButton a:hover{
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
    }
    .clientsTestimonial{

    }
    .clientsTestimonial .owl-carousel{
        padding: 10px 0px 0px;
    
    }
    .clientsTestimonial .owl-carousel .item{
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.06);
        padding: 30px;
        border-radius: 6px;
        width: calc(100% - 20px);
        margin: 10px;
    }
    .clientsTestimonial .owl-carousel .owl-stage{
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .clientsTestimonial .owl-carousel .owl-stage:before, .clientsTestimonial .owl-carousel .owl-stage:after{
        content:'';
        display:block;
    }
    .clientsTestimonial .owl-carousel p{
        font-size: 16px;
        margin: 0px;
        letter-spacing: 0.3px;
        color: #222;
        line-height: 1.4;
        opacity: 0.7;
        position: relative;
    }
    .clientsTestimonial .owl-carousel p:before{
        content:"“";
        color: #4e43e4;
        font-weight: 600;
        font-size: 20px;
    }
    .clientsTestimonial .owl-carousel .owl-nav{
        display:none !important;
    }
    .clientsTestimonial .owl-carousel .owl-dots{
        padding: 20px 0px 0px;
    }
    .clientsTestimonial .owl-carousel .owl-dot{
        width: 15px;
        height: 15px;
        background-color: #fff;
        border: 1px solid #f8c145;
        border-radius: 50%;
        display: inline-block;
        margin: 0px 4px;
        transition: 0.4s;
    }
    .clientsTestimonial .owl-carousel .owl-dot.active{
        width: 25px;
        border-radius: 4px;
        background-color: #f8c246;
    }
    .clientsTestimonial .owl-carousel p:after{
        content:"”";
        color: #4e43e4;
        font-weight: 600;
        font-size: 20px;
        position: absolute;
    }
    .clientsTestimonial .owl-carousel b{
        display: block;
        padding: 25px 0px 5px;
        color: #4941e3;
        letter-spacing: 0.8px;
        line-height: normal;
        font-size: 14px;
        font-weight: 500;
    }
    .clientsTestimonial .owl-carousel strong{
        display: block;
        font-weight: 500;
        letter-spacing: 0.3px;
        line-height: 1.4;
        padding: 0px 0px 10px;
        color: #222;
    }
    .clientsTestimonial .owl-carousel i{
        display: block;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: #f8c246;
    }
    @media(max-width:1199px){
        .desEkaksharSec1{
            height: 715px;
        }
		.desEkaksharSec1 img{
			    right: -44px;
    bottom: 28px;
		}
        .desEkaksharSec1:after{
            width: 630px;
            height: 715px;
            background-size: contain;
        }
    }
@media(max-width:991px){
    .aboutUsBanner{
        padding: 100px 15px 10px;
    }
    .aboutUsBanner h1{
        font-size: 32px;
    }
    .ouStory h2, .meetTheTeam h2{
        font-size: 24px;
    }
    .clientsTestimonial .owl-carousel p{
        font-size: 14px;
    }
    .clientsTestimonial .owl-carousel strong, .clientsTestimonial .owl-carousel i{
        font-size: 12px;
    }
    .clientsTestimonial .owl-carousel .owl-dot{
        width: 12px;
        height: 12px;
    }
    .clientsTestimonial .owl-carousel b{
        padding: 15px 0px 5px;
        font-size: 12px;
    }
    .clientsTestimonial .owl-carousel .item{
        padding: 30px 15px;
    }
    .ekaksharClients .row{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 40px 15px 40px;
    }
    .aboutUsBanner img {
    width: 75px;
    margin: 15px 0px 10px;
}
.meetTheTeam{
    padding: 40px 0px;
}
.meetTheTeam ul li img.starFace{
    height: 125px;
}
.ouStory {
    padding: 0px 15px 30px;
}
.meetTheTeam ul li{
    width: calc(100% - 30px);
    margin: 15px;
    padding: 30px 15px;
}
.meetTheTeam ul{
    width: 100%;
}
.lastCTAButton{
    text-align: center;
    padding: 40px 0px;
}
.lastCTAButton h2{
    padding: 0px 0px 25px;
    font-size: 26px;
}
    .bannerEkakshar h1{
        font-size: 28px;
    }
	.searchbarEk{
		    width: calc(100% - 30px);
    margin: auto;
	}
    .subscribeSideBar{
        width: calc(100% - 30px);
        margin: 0px 15px 30px;
        padding: 30px 20px;
    }
    .subscribeSideBar h3{
        font-size: 20px;
    }
    .subscribeSideBar span{
        padding: 10px 0px 15px;
        font-size: 14px;
    }
    .subscribeSideBar input.form-control, .subscribeSideBar input#subscribeBtnSide{
        height: 45px;

    }
   
    .subscribeSideBar p{
        padding: 5px 0px 0px;
        font-size: 14px;
    }
    .subscribeSideBar input#subscribeBtnSide{
        font-size: 16px;
    }
	    ul.selBlogCat li a{
        font-size: 14px;
    padding: 15px 10px;
    }
    .categoryNameExp{
        margin: auto;
    }
    .blogCatWise .tab-content ul li .authorAndDate b{
        padding: 0px 15px;
    }
    
    .categoryNameExp h4{
        font-size: 24px;
        margin: 5px 0px 20px;
        padding: 0px 0px 10px;
    }
    .categoryNameExp p{
        font-size: 14px;
    }
    ul.selBlogCat{
        margin: 0px 0px 10px;
    }
    .blogCatWise .tab-content #latestBlogs ul li:nth-child(1) h2 a {
    font-size: 20px;
}
.blogCatWise {
    padding: 0px 0px 20px;
}
.blogCatWise .tab-content ul li a img{
    height: auto;
}
.blogCatWise .tab-content ul li span.BlogTag{
    font-size: 14px;
    padding: 10px 0px;
}
.blogCatWise .tab-content ul li{
    width: calc(100% - 30px);
    margin: 15px;
}
.blogCatWise .tab-content ul li h2{
    padding: 0px 0px 10px;
}
.allBlogBanner h1{
    font-size: 32px;
}
.allBlogBanner{
    padding: 60px 15px 40px;
    text-align: center;
}
.allBlogBanner h2{
    font-size: 18px;
}
.allBlogBanner h2 br{
    display:none;
}
.allBlogBanner input.form-control{
    height: 50px;
    max-width: 100%;
    width: 100%;
}
.allBlogBanner .form-group{
    width: 100%;
}
.allBlogBanner #subscribeBtn{
    display: block;
    padding: 12px 36px;
    margin: 0px;
    width: 100%;
}
    .bannerEkakshar{
        padding: 110px 0px 40px;
    }
    .blogSecEka .sectionSec {
    padding: 0px 0px 20px;
}
.blogSecEka .sectionSec .authorAndDate {
    width: 60%;
}
.blogSecEka .sectionSec .shareOnEkakshar{
    width: 40%;
}
.blogSecEka .sectionSec .shareOnEkakshar a img{
    width: 23px;
}
.blogSecEka .sectionSec .shareOnEkakshar a{
    padding: 0px 2px;
}
.blogSecEka .contentBoxSet h3, .blogSecEka .contentBoxSet h4{
font-size:20px;
}
.blogSecEka .contentBoxSet h5, .blogSecEka .contentBoxSet h6{
    font-size:18px;
}
    .blogSecEka .bredcrumbsEkakshar p{
        font-size: 16px;
        line-height: 1.5;
    }
    .blogSecEka .contentBoxSet p, .blogSecEka .contentBoxSet span, .blogSecEka .contentBoxSet ul li, .blogSecEka .contentBoxSet ol li{
        font-size: 16px;
    }
    .blogSecEka .contentBoxSet {
    padding: 15px 0px 30px;
}
    .blogSecEka .sectionSec .authorAndDate span{
        font-size: 14px;
    }
    h2.headingEkBlog{
        font-size: 26px;
    }
    .blogSecEka {
    padding: 25px 0px;
}
    .blogSecEka .bredcrumbsEkakshar p b{
        padding: 0px 10px;
    }
    .subscribeToNewsletter h3{
        font-size: 20px;
    }
    .subscribeToNewsletter{
        margin: 25px 0px 30px;
        padding: 30px 20px 20px;
    }
    .subscribeToNewsletter img {
    width: 40px;
}
    .subscribeToNewsletter #subscribeBtn {
    font-size: 16px;
    padding: 12px 40px;
}
	.headerEkakshar{
		    padding: 10px 15px;
    }
	.desEkaksharSec1 h2{
		font-size:20px;
	}
	.headerbtnCTA{
		    background-color: #000;
    border: 1px solid #000;
		    color: #fff !important;
    display: inline-block !important;
		    margin-left: 15px !important;
    margin-top: 5px !important;
	}
    .toggleMobEkaHead{
        display: block;
        position: absolute;
        right: 15px;
    }
    .headerEkakshar .brandName img {
        width: 50px;
    }
    .toggleMobEkaHead i{
        transition:0.3s;
    }
    .toggleMobEkaHead.showEle i:nth-child(1){
        transform: rotate(45deg);
        transform-origin: 0%;
        margin: 0 0 10px 0;
    }
    .toggleMobEkaHead.showEle i:nth-child(2){
        opacity: 0;
    }
    .toggleMobEkaHead.showEle i:nth-child(3){
        transform: rotate(-45deg);
        transform-origin: 0%;
    }
    .headerEkakshar .ctasAndPages{
        display:none;
        position: absolute;
    top: 68px;
    background-color: #f8c145;
    width: 100%;
    text-align: left;
    left: 0px;
    right: 0px;
    padding: 10px 0px;
    }
    .headerEkakshar .ctasAndPages.showEle{
        display: block;
    }
    .page-id-225 .headerEkakshar .ctasAndPages a{
        color: #333;
    }
    .page-id-225 .headerEkakshar.fixeHeadEk .ctasAndPages a {
        color: #333;
    }
    .desEkaksharSec1{
        height: auto;
        text-align: center;
        padding: 65px 0px 40px;
    }
    .desEkaksharSec1 h1{
        font-size: 32px;
    }
    .desEkaksharSec1 img{
        position: relative;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
		    padding: 0px 15px;
        max-width: 100%;
    }
    .ctaEkakshar{
        font-size: 18px;
        padding: 13px 22px;
    }
    .desEkaksharSec1 p{
        font-size: 16px;
        padding: 5px 0px 15px;
    }
    .desEkaksharSec1:after, .desEkaksharSec1:before, .desEkaksharSec1 p br{
        display: none;
    }
	.ekOurServices b{
	    font-size: 16px;
		    padding: 20px 15px;
}
	.headerEkakshar .ctasAndPages a{
	    font-size: 16px;
    margin: 0px;
    display: block;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding: 8px 15px;
	}
	.headingEkakshar{
		    font-size: 26px;
	}
	.ekOurServices span{
		    font-size: 16px;
		    padding: 10px 0px 15px;
	}
	.ekOurServices p br{
		display:none;
	}
	.ekOurServices p{
		    font-size: 20px;
	}
	.ekOurServices img {
    width: 60px;
    margin-bottom: 5px;
}
	.ekOurServices .row {
    padding: 25px 0px;
}
	.ekOurServices .row:nth-child(3) div:nth-child(1), .ekOurServices .row:nth-child(5) div:nth-child(1), .ekaksharBanner .row div:nth-child(1){
		order:2;
	}
		.ekOurServices .row:nth-child(3) div:nth-child(2), .ekOurServices .row:nth-child(5) div:nth-child(2), .ekaksharBanner .row div:nth-child(2){
		order:1;
	}
	.ekaksharBanner img{
		    border-radius: 1px 80px 30px 95px;
		    margin: auto auto 20px;
	}
	.whyEkaksharChoose li p{
		font-size: 16px;
	}
	.ekOurServices ul li{
		    margin: 5px 0px;
	}
	.ekOurServices{
		    padding: 100px 0px 20px;
		    text-align: center;
	}
	.footerEkakshar{
		    padding: 30px 15px 0px;
	}
	.footerEkakshar .footerImage a img{
		    width: 70px;
	}
	.ekOurServices a {
    margin: 15px 0px 20px;
		    font-size: 18px;
		padding: 12px 30px;
}
	.footerEkakshar .footerImage, .footerEkakshar .contactAnOther {
    width: 100%;
}
	.ekaksharClients ul li{
		    width: calc(33.33% - 20px);
	}
	.whyEkaksharChoose li{
		    width: calc(100% - 20px);
	}
	.whatisEk .boxAbout{
		    padding: 30px 15px;
            width: 100%;
    }
    .whatisEk .boxAbout:before{
        left: -20px;
        top: -33px;
        width: 80px;
        height: 79px;
        background-size: contain;
    }
    .whyEkDes .boyImageEk:before{
        width: 95%;
        left: 0px;
        right: 0px;
    }
    .talkToExperts:after{
        width: 40px;
        height: 70px;
    }
    .whyEkDes ul{
        padding: 20px 0px 0px;
    }
    .whyEkDes ul li:after{
        left: 4px;
    }
    .whyEkDes ul li:before{
        width: 10px;
        height: 10px;
    }
    .whyEkDes ul li{
        padding: 0px 0px 20px 20px;
    }
    .whyEkDes ul li p{
        font-size: 16px;
    }
    .whyEkDes h3{
        font-size: 18px;
        padding-bottom: 20px;
    }
    .whatisEk .boxAbout:after{
        width: 80px;
        height: 79px;
        background-size: contain;
        right: -15px;
        bottom: -28px;
    }
	.whatisEk p{
		    padding: 15px 0px 0px;
		font-size: 16px;
	}
	
		.whatisEk {
    padding: 35px 15px;
}
	.ekaksharClients{
		    padding: 35px 15px;
	}
	.whyEkaksharChoose h3{
		    font-size: 18px;
	}
	.talkToExperts {
    padding: 0px 15px 35px;
}
	.talkToExperts .row{
		    padding: 30px 15px;
    }
    .talkToExperts:before{
        width: 40px;
        height: 70px;
    }
	.whyEkaksharChoose {
    padding: 35px 15px;
}
	.ekaksharBanner h2 br{
		display:none;
	}
	.ekaksharBanner{
		    height: auto;
		    padding: 120px 0px 35px;
		    text-align: center;
	}
	.ekaksharBanner a, .ekOurServices a{
		    font-size: 18px;
	}
	.ekaksharBanner h2{
		    font-size: 20px;
	}
	.ekaksharBanner h1{
		    font-size: 36px;
	}
	.ekaksharClients ul li img {
    width: 100%;
}
}
@media(max-width:767px){
	#connectWithUs h3{
		    font-size: 20px;
		    padding: 10px 0px 14px;
	}
	#connectWithUs .close{
		    font-size: 28px;
		    right: 10px;
	}
	#connectWithUs .formBox:before, #connectWithUs .formBox:after{
		    width: 60px;
    height: 60px;
	}
	#connectWithUs .modal-body{
		    padding: 10px;
	}
	#connectWithUs .formBox{
		    width: calc(100% - 16px);
    margin: 8px;    padding: 20px 5px;
	}
	#connectWithUs .form-group.inputfifty, #connectWithUs .form-group{
		    width: calc(100% - 14px);
    margin: 5px;
	}
	#connectWithUs h3:before{
		    width: 40px;
    height: 4px;
	}
}